html {
  height: 100%;
  max-width: 100%;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

main {
  padding-bottom: 125px;
  background: rgb(255, 255, 255);
}

.tabs-menu.desktop {
  overflow: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin-bottom: 0px;
  margin-top: 10px;
  background: linear-gradient(89.84deg, #337392 0%, #014162 52.6%, #002042 100%);
  border-radius: 40px 40px 0px 0px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

/* NEW HEADER */

header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  isolation: isolate;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  height: 200px;
  left: 0px;
  top: 0px;
  
  background: linear-gradient(90.62deg, #001F41 0%, #014263 50.52%, #357594 100%);
}


/* Ofrd_124 1 */

.header_img {
  width: 100px;
  height: 100px;

  order: 0;
  flex-grow: 0;
  z-index: 0;
}

/* header_text */

.header_text {
  width: 480px;
  height: 100px;
  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #ffffff;

  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

/* Line 2 */

.line_1 {
  position: absolute;
  width: 61px;
  height: 200px;
  left: 0px;

  border-right: 2px solid #FFFFFF;

  flex: none;
  order: 3;
  flex-grow: 0;
  z-index: 3;
}


/* Line 1 */

.line_2{
  position: absolute;
  width: 61px;
  height: 200px;
  right: 0px;

  border-left: 2px solid #FFFFFF;

  flex: none;
  order: 4;
  flex-grow: 0;
  z-index: 4;
}

/* меню */

.switch_main {
  position: relative;
  display: flex;
  background: linear-gradient(90.16deg, #001F41 0%, #014263 48.96%, #357594 100%) center center / contain no-repeat;
  border-radius: 0px 0px 30px 30px;
  justify-content: center;
}

.main_center {
  height: 60px;
  flex-wrap: nowrap;
}

.nav_main {
  background: #2D81AB;
  border-width: 0px 1px;
  border-style: solid;
  border-color: #000000;
  width: 200px;
  height: 60px;
  text-align: center;
}

.nav_main:last-child {
  border-radius: 0px 30px 0px 0px;
}

.nav_main:first-child {
  border-radius: 30px 0px 0px 0px;
}

.nav_main_link {
  box-sizing: border-box;
  width: 200px;
  height: 60px;
  position: relative;
}

.text_nav_link {
  width: 200px;
  height: 60px;
  color:rgb(255, 255, 255);
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav_main:hover {
  background: #347493;
  color: #002143;
}

.line_3 {
  position: absolute;
  width: 61px;
  height: 60px;
  left: 0px;

  border-right: 2px solid #FFFFFF;
}

.line_4 {
  position: absolute;
  width: 61px;
  height: 60px;
  right: 0px;

  border-left: 2px solid #FFFFFF;
}

/* text main url */

.text-center-main {
  width: 800px;
  height: 60px;
  margin: 0 auto;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;
}


.text_opensans_for_footer {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;

  color: #FFFFFF;
}

.line_5 {
  position: absolute;
  width: 61px;
  height: 100px;
  left: 0px;

  border-right: 2px solid #FFFFFF;
}

.line_6 {
  position: absolute;
  width: 61px;
  height: 100px;
  right: 0px;

  border-left: 2px solid #FFFFFF;
}

/* App styles */

.title {
  text-align: center;
  margin: 10px;
}

.lol_width{
  max-width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}


table {
	width: 100%;
  max-width: 1140px;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
table td {
	border: 1px solid #dddddd;
	padding: 5px;
}