<!DOCTYPE html>
<html lang="ru">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'fav/icons8.png' type='image' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'fav/180x180.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'fav/32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'fav/16x16.gif' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link href="{% static 'css/timedropper.css' %}" rel="stylesheet" type="text/css">
    
    <title>
    {% block tittle %}
    Здесь должен быть title
    {% endblock %}
    </title>
  </head>
  <body>
    <header>
      {% include 'includes/header.html' %}     
    </header>
    <menu>
      <ul>
        <li>
          <a href="{% url 'testing:index' %}">
            Все тесты
          </a>
        </li>
        <li>
          <a href="{% url 'testing:index' %}?filter=passed">
            Все пройденные тесты
          </a>
        </li>
      </ul>
    </menu>
    <main>
      <div>
        {% block content %}
        Контент не подвезли :(
        {% endblock content %}
      </div>
    </main>
    <footer>
    {% include 'includes/footer.html' %}
    </footer>
    {% block script %}
    {% endblock script %}
  </body>
</html>